@model IEnumerable<NetCoreMVCTest.Models.DbUser>

@{
    ViewBag.Title = "用户";
}
<table class="table">
    <tr>
        <input type="submit" value="添加" class="btn btn-default" onclick="Add()" />
    </tr>
    <tr>
        <th>Id</th>
        <th>用户名</th>
        <th>密码</th>
        <th>操作</th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UserName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Password)
    </td>
    <td>
        <input type="submit" value="编辑" class="btn btn-default" onclick="Update(@item.Id)" />
        <input type="submit" value="详情" class="btn btn-default" onclick="Detail(@item.Id)" />
        <input type="submit" value="删除" class="btn btn-default" onclick="Del(@item.Id)" />
    </td>
</tr>
    }
</table>
<script type="text/javascript">

    //当页面需要跳转  肯定需要重定向 要不直接 js页面跳转  要不控制器重定向
    //但是当想控制器处理数据后渲染新页面回来 是做不到的   控制器无法当数据处理又 重定向本身页面 所以跳转不了  这样直接页面跳转
    function Update(id) {
        window.location.href = "Edit?id=" + id;
    }

    function Detail(id) {
        window.location.href = "Detail?id=" + id;
    }

    function Add() {
        window.location.href = "Add";
    }
  
    function Del(id) {
        $.ajax({
            url:"/User/Del",
            type: "GET",
            data: { id: id },
            dataType: "json",
            success: function (data) {
                alert("删除成功");
                window.location.href = "List"
            },
            error: function (data) {
                alert("失败")
            }

        });
    }
</script>